.navbar-dark {
    background-color: #25190f;
}
h1{
    font-family: "Lobster", cursive;
    font-size: 100px;
    text-align: center;
}
h2{
    font-family: "Lobster", cursive;
    font-size: 50px;
    text-align: center;
}

.jumbotron{
    margin:0;
    padding: 20px;
    background-image: linear-gradient(to right,#042006 , #084e31, #208a92);
    color: white;
}